<%- include('includes/start') %>
<link rel="stylesheet" type="text/css" href="/css/gallery.css">
    </head>
    <body>
    <%-include('includes/navigation') %>
		<div class="content">
            <main>
				<section class="main-grid">
					<div class="capture">
						<canvas id="canvas" width=1080 height=720></canvas>
						<img src="" alt="Image preview...">
						<video id="player" controls autoplay></video>
					</div>
					<div>
						<p>filters</p>
					</div>
						<div class="nested">
							<button id="capture">Capture</button>
							<input type="file" id="file-input" accept="image/*;capture=user">
							<button id="save-img" disabled>Save</button>
						</div>
				</section>
				<aside class="thumbnail-grid" id="img-grid">
				 <%for(let i of imgs){%>
				 	<div>
						<img src="https://image.flaticon.com/icons/svg/149/149147.svg" title="delete" class="del_img">
						<img src=<%= `data:image/png;base64,${i.path} `%> id=<%=i.id%> alt=<%=i.fname%>>
					</div>
				<%}%>			
				</aside>
            </main>
		</div>
		<script src="/js/editing.js" type="module"></script>
		<script src="/js/capture.js" type="module" ></script>
<%-include('includes/end')%>