<%- include('includes/start') %>
    <link rel="stylesheet" type="text/css" href="/css/gallery.css">
    </head>

    <body>
        <%-include('includes/navigation') %>
            <div class="content">
                <main>
                    <section class="main-grid">
                        <div class="capture__box">
                            <div class="capture">
                                <canvas id="canvas" class="canvas"></canvas>
                                <%if (edit){%>
                                    <img src=<%=`data:image/png;base64,${edit.path} id=${edit.id} class="thumbnail" alt={edit.fname}`%>>
                                    <%} else {%>
                                        <img class="main_image" alt="Image preview...">
                                        <%}%>
                                            <video id="video" controls autoplay>Stream not available...</video>
                            </div>

                            <p class="layer_text">Layers</p>
                            <div id="imgs-layer" class="layer">
                                <div class="filter__div">
                                    <img class="filter" src="/gallery/cat.png" width="150" height="113.5" data-name="cat">
                                </div>
                                <div class="filter__div">
                                    <img class="filter" src="/gallery/balls.png" width="1024" height="600" data-name="balls">
                                </div>
                                <div class="filter__div">
                                    <img class="filter" src="/gallery/border.png" width="220" height="220" data-name="border">
                                </div>
                                <div class="filter__div">
                                    <img class="filter" src="/gallery/green.png" data-name="flower">
                                </div>
                            </div>
                        </div>
                        <div>
                            <select id="photo-filter" class="select">
								<option value="none">Normal</option>
								<option value="grayscale(100%)">Grayscale</option>
								<option value="sepia(100%)">Sepia</option>
								<option value="invert(100%)">Invert</option>
								<option value="hue-rotate(90deg)">Hue</option>
								<option value="blur(10px)">Blur</option>
								<option value="contrast(200%)">Contrast</option>
							</select>
                        </div>

                        <%if(isAuth) {%>
                            <div class="box__actions">
                                <input class="btn" type="file" id="file-input" accept="image/*;capture=user">
                                <button class="btn" id="capture">Capture</button>
                                <button id="clear-button" class="btn">Clear</button>
                                <%if (edit){%>
                                    <button class="btn" id="update-img">Update</button>
                                    <%} else {%>
                                        <button class="btn" id="save-img" disabled>Save</button>
                                        <%}%>
                            </div>
                            <%}%>
                    </section>
                    <aside class="thumbnail-grid" id="img-grid">
                        <%for(let i of imgs){%>
                            <div>
                                <img src="https://image.flaticon.com/icons/svg/149/149147.svg" title="delete" class="del_img">
                                <img style="filter:<%=i.meta%>" src="data:image/png;base64,<%=i.path%>" class="thumbnail" id="<%=i.id%>" alt="<%=i.fname%>">
                            </div>
                            <%}%>
                    </aside>
                </main>
            </div>
            <script src="/js/editing.js" type="module"></script>
            <script src="/js/gallery.js" type="module"></script>
            <%-include('includes/end')%>